
hr{
  color:black;
}
span {
  z-index:0;
  color:black;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  width: 50%;
}
span:hover {
  color:#6772e5;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-weight:bold;
  font-size: 1rem;
  width: 50%;

}
img{
  width: 100%;
  color: #ffffff;
  max-width: 255px;
  height:350px;
}
/* example of z indexing */
/* img:hover{
  background-color:palevioletred;
} */
img {
  background-color:rgb(230, 230, 230);
  opacity: 0.8;
}